GOOGLE_API_KEY=your_google_api_key_here

# Django
SECRET_KEY=your_secret_key_here
DEBUG=True

# PostgreSQL
DB_NAME=cv_analyzer
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0